h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0px;
   padding: 0px;
   font-weight: 400;
}
div,
ul,
p {
   margin: 0px;
   padding: 0px;
}

/* Lists */
ol,
ul {
   list-style-type: none;
}

/* links */
a {
   text-decoration: none;
   color: black;
}
